* {
  border: 1px solid greenyellow;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  gap: 1.5em;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li .link {
  text-decoration: none;
  color: white;
}

header .contacts-button {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

header .contacts-button a .icon {
  color: white;
}
