.table-container {
  width: 80%;
  overflow-x: auto;
  margin: 0 auto;

  .site-types-table {
    margin: 10px 0;
    width: 100%;
    border-collapse: collapse;

    caption {
      width: 80%;
      margin-bottom: 20px;
      font-size: 2em;
      text-align: start;
      font-weight: bold;
    }

    th,
    td {
      border: 1px solid #ffffff;
      padding: 10px;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: rgb(29, 31, 32);
        transform: translateY(-5px);
      }
    }

    th {
      text-align: left;
    }

    ul {
      margin: 0;
      padding-left: 20px;
      font-size: 0.9em;

      li {
        padding-bottom: 5px;
      }
    }
  }
}

/* Средние экраны (современные смартфоны) */
@media (max-width: 768px) {
  .site-types-table {
    width: 100%;
    font-size: 0.8em; /* Уменьшение общего размера текста */
    margin: 5px 0;

    caption {
      font-size: 40px; /* Уменьшение размера заголовка */
      text-align: center; /* Центрирование заголовка */
    }
  }
}
