@mixin transition-border-color {
  transition: border-color 0.3s ease;
}

@mixin border-color {
  border-color: #007bff;
}

.contact-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .title-contact-container {
    width: 50%;
    margin: 1em 0;
    font-size: 2.5em;
  }

  .hero-contact {
    margin-left: 5em;
    width: 80%;
    display: flex;

    .anime-img {
      margin-top: -40px;
    }

    .contact-section {
      width: 100%;

      .box-with-contact-mail {
        border: 1px solid rgba(255, 255, 255, 0.459);
        padding: 15px;
        @include transition-border-color;

        &:hover {
          @include border-color;

          .title-contact-mail {
            @include border-color;

            .icon-contact-mail {
              color: #007bff;
            }
          }

          .mail-a {
            @include border-color;
          }
        }

        .title-contact-mail {
          width: 18%;
          font-size: 1.8em;
          margin: 5px 0;
          margin-bottom: 20px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.459);
          padding-bottom: 5px;
          @include transition-border-color;

          .icon-contact-mail {
            padding-left: 10px;
            transition: color 0.3s ease;
          }
        }

        .mail-a {
          text-decoration: none;
          color: white;
          font-size: 1em;
          margin-bottom: 10px;
          border: 1px solid rgba(255, 255, 255, 0.459);
          padding: 9px 19px;
          border-radius: 2px;
          @include transition-border-color;

          &:hover {
            border-color: #004793;
          }
        }
      }

      .section-t-w-box {
        border: 1px solid rgba(255, 255, 255, 0.459);
        margin: 2em 0;
        padding: 15px;

        @include transition-border-color;

        &:hover {
          @include border-color;

          .box-with-contact-t-w {
            .title-contact {
              @include border-color;
            }
          }
        }

        .box-with-contact-t-w {
          display: flex;
          align-items: center;
          gap: 1em;
          margin-top: 10px;

          .title-contact {
            width: 18%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.459);
            padding-bottom: 5px;
            margin-bottom: 10px;
            font-size: 1.6em;
            @include transition-border-color;
          }

          .icon-contact {
            font-size: 2em;
            color: white;
            margin-left: 5px;
            transition: color 0.3s ease;

            &:hover {
              color: #007bff;
            }
          }
        }
      }
      .text-w-t,
      .email-text {
        margin-top: 20px;
        padding: 5px;
        font-size: 1.1em;
      }
    }
  }
}

/* Маленькие экраны (старые смартфоны) */
@media (max-width: 480px) {
  .contact-container {
    .title-contact-container {
      width: 80%;
      font-size: 2.2em;
    }

    .hero-contact {
      flex-direction: column;
      margin-left: 0;

      .contact-section {
        .box-with-contact-mail {
          .title-and-btn-mail {
            display: flex;

            .title-contact-mail {
              width: 40%;
              font-size: 1.5em;
              margin-right: 20px;
              margin-bottom: 5px;
            }

            .mail-a {
              width: 160px;
              height: 35px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0;
              margin: 5px 0 0 0;
            }
          }
        }

        .section-t-w-box {
          .box-with-contact-t-w {
            .title-contact {
              width: 40%;
              font-size: 1.5em;
              margin-bottom: 5px;
            }
          }
        }
        .text-w-t,
        .email-text {
          margin-top: 0px;
          font-size: 1em;
        }
      }

      .anime-img {
        display: none;
      }
    }
  }
}

/* Средние экраны (современные смартфоны) */
@media (min-width: 481px) and (max-width: 768px) {
  .contact-container {
    .title-contact-container {
      width: 80%;
      font-size: 2.3em;
    }

    .hero-contact {
      flex-direction: column;
      margin-left: 0;

      .contact-section {
        .box-with-contact-mail {
          .title-and-btn-mail {
            display: flex;

            .title-contact-mail {
              width: 40%;
              font-size: 1.5em;
              margin-right: 20px;
              margin-bottom: 5px;
            }

            .mail-a {
              width: 160px;
              height: 35px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0;
              margin: 5px 0 0 0;
            }
          }
        }

        .section-t-w-box {
          .box-with-contact-t-w {
            .title-contact {
              width: 40%;
              font-size: 1.5em;
              margin-bottom: 5px;
            }
          }
        }
        .text-w-t,
        .email-text {
          margin-top: 0px;
          font-size: 1em;
        }
      }

      .anime-img {
        display: none;
      }
    }
  }
}

/* Планшеты (вертикальная ориентация) */
@media (min-width: 769px) and (max-width: 1024px) {
  .contact-container {
    .title-contact-container {
      width: 80%;
      font-size: 2.3em;
    }

    .hero-contact {
      flex-direction: column;
      margin-left: 0;

      .contact-section {
        .box-with-contact-mail {
          .title-and-btn-mail {
            display: flex;

            .title-contact-mail {
              width: 30%;
              font-size: 1.5em;
              margin-right: 20px;
              margin-bottom: 5px;
            }

            .mail-a {
              width: 160px;
              height: 35px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0;
              margin: 5px 0 0 0;
            }
          }
        }

        .section-t-w-box {
          .box-with-contact-t-w {
            .title-contact {
              width: 30%;
              font-size: 1.5em;
              margin-bottom: 5px;
            }
          }
        }
        .text-w-t,
        .email-text {
          margin-top: 0px;
          font-size: 1em;
        }
      }

      .anime-img {
        display: none;
      }
    }
  }
}

/* Планшеты (горизонтальная ориентация) */
@media (min-width: 1025px) and (max-width: 1200px) {
  .contact-container {
    .hero-contact {
      .contact-section {
        .box-with-contact-mail {
          .title-contact-mail {
            width: 30%;
            font-size: 1.5em;
          }
        }

        .section-t-w-box {
          .box-with-contact-t-w {
            .title-contact {
              width: 30%;
              font-size: 1.5em;
              margin-bottom: 5px;
            }
          }
        }
        .text-w-t,
        .email-text {
          margin-top: 10px;
          font-size: 1em;
        }
      }
    }
  }
}

/* Ноутбуки (маленькие экраны) */
@media (min-width: 1201px) and (max-width: 1440px) {
  .contact-container {
    .hero-contact {
      .contact-section {
        .box-with-contact-mail {
          .title-contact-mail {
            width: 25%;
          }
        }

        .section-t-w-box {
          .box-with-contact-t-w {
            .title-contact {
              width: 25%;
            }
          }
        }
      }
    }
  }
}
