* {
  // border: 1px solid greenyellow;
}

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home-container {
  .hero-home {
    width: 100%;
    height: 600px;
    @include flex-center-center;

    .text-box-left {
      width: 400px;
      // height: 350px;
      margin-left: 5em;
      margin-top: 5em;
      display: flex;
      flex-direction: column;

      .text-block {
        display: flex;
        flex-direction: column;
        // gap: 2em;
      }

      .title {
        font-size: 3em;
      }

      .subtitle {
        font-size: 1.6em;
        color: rgb(255, 147, 53);
        font-weight: bold;
      }

      .lists {
        font-size: 1em;
      }
    }

    .img-anime-block {
      // width: 50%;
      margin-left: 3em;
    }
  }

  .box-arrow-bottom {
    width: 100%;
    text-align: center;

    .icon-chevron {
      font-size: 2.5em;
      animation: bounce 2s infinite;
    }

    @keyframes bounce {
      0%,
      100% {
        transform: translateY(0);
        opacity: 1;
      }
      50% {
        transform: translateY(-10px);
        opacity: 0.7;
      }
    }
  }

  .stages-creation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // gap: 2em;
    margin: 4em 0;

    .box-stages {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 200px;
      margin: 1em;
      padding: 1em;
      border: 1px solid white;
      transition: border-color 0.3s;
      animation: highlight 4s infinite;

      &:nth-child(1) {
        animation-delay: 0s;

        .icon-right-box-stage {
          animation-delay: 0s;
        }
      }
      &:nth-child(2) {
        animation-delay: 1s;

        .icon-right-box-stage {
          animation-delay: 1s;
        }
      }
      &:nth-child(3) {
        animation-delay: 2s;

        .icon-right-box-stage {
          animation-delay: 2s;
        }
      }
      &:nth-child(4) {
        animation-delay: 3s;

        .icon-right-box-stage {
          animation-delay: 3s;
        }
      }

      .text-section {
        margin: 1em;

        .stage-title {
          padding-bottom: 10px;
        }
        .stage-description {
        }
      }

      .icon-right-box-stage {
        font-size: 3em;
        margin: 5px;

        transition: color 0.3s;
        animation: icon-highlight 4s infinite;
      }
    }
  }

  @keyframes highlight {
    0%,
    100% {
      border-color: #007bff;
      box-shadow: 0 10px 16px rgba(0, 0, 255, 0.147);
    }
    25% {
      border-color: white;
      box-shadow: none;
    }
    50% {
      border-color: white;
      box-shadow: none;
    }
    75% {
      border-color: white;
      box-shadow: none;
    }
  }

  @keyframes icon-highlight {
    0%,
    100% {
      color: #007bff;
    }
    25% {
      color: white;
    }
    50% {
      color: white;
    }
    75% {
      color: white;
    }
  }

  .accordion-container-home {
    margin: 40px 0;
    width: 100%;
  }
}
