* {
  // border: 1px solid greenyellow;
}

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home-container {
  .hero-home {
    width: 100%;
    height: 600px;
    @include flex-center-center;

    .text-box-left {
      width: 400px;
      // height: 350px;
      margin-left: 5em;
      margin-top: 5em;
      display: flex;
      flex-direction: column;

      .text-block {
        display: flex;
        flex-direction: column;
        // gap: 2em;
      }

      .title {
        font-size: 3em;
      }

      .subtitle {
        font-size: 1.6em;
        color: #007bff;
        font-weight: bold;
      }

      .lists {
        font-size: 1em;
      }
    }

    .img-anime-block {
      // width: 50%;
      margin-left: 3em;

      .home-lottie-animation-player {
        height: 600px;
        width: 600px;
      }
    }
  }

  .box-arrow-bottom {
    width: 100%;
    text-align: center;

    .icon-chevron {
      font-size: 2.5em;
      animation: bounce 2s infinite;
    }

    @keyframes bounce {
      0%,
      100% {
        transform: translateY(0);
        opacity: 1;
      }
      50% {
        transform: translateY(-10px);
        opacity: 0.7;
      }
    }
  }

  .stages-container {
    margin: 10em 0;

    .stages-container-title {
      font-size: 2.5em;
      margin-left: 3em;
      padding: 2em 0 0.5em;
    }

    .stages-creation {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      // gap: 2em;

      .box-stages {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 200px;
        margin: 1em;
        padding: 1em;
        border: 1px solid white;
        transition: border-color 0.3s;
        animation: highlight 4s infinite;
        position: relative;

        .count-box {
          position: absolute;
          top: 10px;
          right: 10px;
          color: rgba(255, 255, 255, 0.288);
          font-family: "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
          font-size: 2em;
        }

        &:nth-child(1) {
          animation-delay: 0s;

          .icon-right-box-stage {
            animation-delay: 0s;
          }
        }
        &:nth-child(2) {
          animation-delay: 1s;

          .icon-right-box-stage {
            animation-delay: 1s;
          }
        }
        &:nth-child(3) {
          animation-delay: 2s;

          .icon-right-box-stage {
            animation-delay: 2s;
          }
        }
        &:nth-child(4) {
          animation-delay: 3s;

          .icon-right-box-stage {
            animation-delay: 3s;
          }
        }

        .text-section {
          margin: 1em;

          .stage-title {
            padding-bottom: 10px;
          }
          // .stage-description {
          // }
        }

        .icon-right-box-stage {
          font-size: 3em;
          margin: 5px;

          transition: color 0.5s;
          animation: icon-highlight 4s infinite;
        }
      }
    }
  }

  @keyframes highlight {
    0%,
    100% {
      border-color: #007bff;
      box-shadow: 0 10px 16px rgba(0, 0, 255, 0.147);
    }
    25% {
      border-color: white;
      box-shadow: none;
    }
    50% {
      border-color: white;
      box-shadow: none;
    }
    75% {
      border-color: white;
      box-shadow: none;
    }
  }

  @keyframes icon-highlight {
    0%,
    100% {
      color: #007bff;
    }
    25% {
      color: white;
    }
    50% {
      color: white;
    }
    75% {
      color: white;
    }
  }

  .accordion-container-home {
    margin: 40px 0;
    width: 100%;
  }

  /* Маленькие экраны (старые смартфоны) */
  @media (max-width: 480px) {
    .hero-home {
      width: 100%;
      height: auto;
      @include flex-center-center;
      flex-direction: column;
      position: relative;

      .text-box-left {
        margin-left: 0;
        width: 80%;
        margin-top: 2.2em;
        padding-left: 15px;


        .title {
          font-size: 2.2em;
          margin-bottom: 0.5em;
        }

        .subtitle {
          font-size: 1.4em;
        }

        .subtitle-bottom {
          font-size: 1.2em;
        }
      }

      .img-anime-block {
        margin-left: 0;

        .home-lottie-animation-player {
          height: 380px;
          width: 380px;
        }
      }
    }

    .box-arrow-bottom {
      position: absolute;
      bottom: 20px;
      left: 0;
    }

    .stages-container {
      margin: 5em 0 7em;

      .stages-container-title {
        width: 70%;
        text-align: center;
        font-size: 2.2em;
        margin-left: 0;
        margin: auto;
        padding: 2em 0 0.5em;
      }
    }
  }

  /* Средние экраны (современные смартфоны) */
  @media (min-width: 481px) and (max-width: 768px) {
    .hero-home {
      width: 100%;
      height: auto;
      @include flex-center-center;
      flex-direction: column;

      .text-box-left {
        margin-left: 0;
        padding-left: 15px;


        .title {
          font-size: 2.5em;
          margin-bottom: 1em;
        }

        .subtitle {
          font-size: 1.3em;
        }

        .subtitle-bottom {
          font-size: 1.2em;
        }
      }

      .img-anime-block {
        margin-left: 0;

        .home-lottie-animation-player {
          height: 450px;
          width: 450px;
        }
      }
    }

    .stages-container {
      margin: 10em 0;

      .stages-container-title {
        width: 70%;
        text-align: center;
        font-size: 2.2em;
        margin-left: 0;
        margin: auto;
        padding: 2em 0 0.5em;
      }
    }
  }

  /* Планшеты (вертикальная ориентация) */
  @media (min-width: 769px) and (max-width: 1024px) {
    .hero-home {
      width: 100%;
      height: auto;
      @include flex-center-center;
      flex-direction: column;

      .text-box-left {
        margin-left: 0;

        .title {
          font-size: 3em;
        }
      }

      .img-anime-block {
        margin-left: 0;

        .home-lottie-animation-player {
          height: 500px;
          width: 500px;
        }
      }
    }
  }

  /* Планшеты (горизонтальная ориентация) */
  @media (min-width: 1025px) and (max-width: 1200px) {
    .hero-home {
      .text-box-left {
        margin-left: 4em;
      }

      .img-anime-block {
        margin-left: 0;

        .home-lottie-animation-player {
          height: 500px;
          width: 500px;
        }
      }
    }

    .stages-container {
      margin: 10em 1em;
    }
  }

  /* Ноутбуки (маленькие экраны) */
  @media (min-width: 1201px) and (max-width: 1440px) {
    .hero-home {
      .img-anime-block {
        .home-lottie-animation-player {
          height: 550px;
          width: 550px;
        }
      }
    }
  }
}
