* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* кастомный скролл */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #002e60;
}

::-webkit-scrollbar:hover {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #007bff;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: white;

  /* background-color: rgb(23, 25, 26); */
  background-color: rgba(0, 0, 0, 0.95);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
